<div class="mainContainer">
    <div class="cardPreviewContainer edit password">
        <form action="/Update_image" method="POST" id ='update_image'>
            <h2>Update Image</h2>
            <input type="hidden" name="_method" value="patch">
            <input type="hidden" name="image_id" value="<%=@image['image_id']%>">
            <label for="image_title">Image Title:</label>
            <input type="text" name="image_title" value="<%=@image['image_title']%>">
            <label for="image_description">Image Description:</label>
            <input type="text" name="image_description" value="<%=@image['image_description']%>">
            <label for="image_url">Image URL:</label>
            <input type="text" name="image_url" value="<%=@image['image_url']%>">
        </form>
        <form action="/Delete_image" method="POST" id='delete_image'>
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="image_id" value="<%=@image['image_id']%>">
        </form>
        <div class="buttonBox">
            <a href="/Image?image_id=<%=@image['image_id']%>" class='backButton'><p>Back</p></a>
            <button form='delete_image'>Delete</button>
            <button form='update_image'>Update</button>
        </div>
    </div>
</div>